<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ 'app.title'|trans }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
             <header>
                <div class="block">
                    <div class="img_container">
                        <img class="logo" src="img/Logo_CHU_Nantes.svg.png" alt="Logo du CHU"/>
                        <img class="logo" src="img/INSERM.png" alt="Logo de l'INSERM'"/>
                        <img class="logo" src="img/LogoCIC.png" alt="Logo du CIC"/>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block nav %}
             <nav>
                <p><b>{{ 'page.nav.title'|trans }}</b></p>
                <p>|</p>
                <a class="menu" id="home" href="{{ path('homepage') }}">{{ 'page.nav.home'|trans }}</a>
                <p>|</p>
                <a class="menu" id="form" href="{{ path('form') }}">{{ 'page.nav.form'|trans }}</a>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
