<div class="footer">
    <div class="mentions pull-right">
        <a href="{{ path('app.use_terms') }}">{{ 'page.footer.useTerms'|trans }}</a>
        <a href="{{ path('app.legal') }}">{{ 'page.footer.legal'|trans }}</a>
    </div>
    <div>
        <strong>{{ 'app.title'|trans }}</strong>
    </div>
</div>
