<div class="footer">
    <strong>{{ 'app.title'|trans }}</strong>
    <div id="pull-right">
        <a href="{{ path('app.use_terms') }}">{{ 'page.footer.useTerms'|trans }}</a>
        <a href="{{ path('app.legal') }}">{{ 'page.footer.legal'|trans }}</a>
    </div>
</div>
