{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <h1>{{ 'page.home.title'|trans }}</h1>
            <div>{{ 'page.home.description1'|trans|raw }}</div>
            <ul>
              <li>{{ 'page.home.item1'|trans }}</li>
              <li>{{ 'page.home.item2'|trans }}</li>
              <li>{{ 'page.home.item2'|trans }}</li>
            </ul>
            <div>{{ 'page.home.description2'|trans|raw }}</div>
        </div>
    </div>
{% endblock %}
